html { width:100%; height:100%; margin:0; padding:0; }
body { width:100%; height:100%; margin:0; padding:0; }

body{
    background: rgb(103,103,103);
    background: linear-gradient(90deg, #676767 0%, rgba(83,83,83,1) 100%);
    font-family: "Roboto";
    background-image: url("Resources/background.png");
    background-attachment: fixed;
    background-size: 100%;
}

#header > img{
    width: 75px;
    padding: 25px;
    float: left;
    margin-left: 25px;
}

#header > h1{
    display: inline;
    position: relative;
    top: 45px;
    letter-spacing: 2px;
}

#header{
    padding-bottom: 100px;
    background-color: white;
}

#header > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    float: right;
    margin-top: 50px;
}

#home-nav{
    margin-right: 40px;
}

#code-nav{
    margin-right: 40px;
}

#contact-nav{
    margin-right: 40px;
}

#mail-nav{
    margin-right: 20px;
}

#yt-nav{
    margin-right: 60px;
}

#parallax-div{
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parallax-div > h1{
    color: white;
    font-size: 65px;
    text-align: center;
    letter-spacing: 5px;
}

#games-div{
    background-color: white;
    height: 3400px;
}

#games-div > h2{
    color: #00c3ff;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 80px;
}

.game{
    margin: auto;
    width: 25%;
    height: 550px;
    padding: 10px;
    margin-bottom: 50px;
}

.game > h3{
    text-align: center;
    font-size: 30px;
    color: #00c3ff;
}

.game > h5{
    text-align: center;
    font-size: 20px;
}

.game > .game-description{
    text-align: center;
    font-size: 18px;
}

.game > .game-download{
    text-align: center;
    border: 2px solid #00a2ff;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
    width: fit-content;
    background-color: #2cbde9;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#contact-div{
    background-color: #f0f0f0;
    height: 500px;
    margin-top: -25px;
    margin-bottom: -25px;
    padding: 30px;
}

#contact{
    border: 3px solid palevioletred;
    margin: auto;
    width: 50%;
    text-align: center;
}

#footer{
    background-color: white;
    height: 160px;
}

#footer-list{
    display: flex;
    list-style: none;
    font-size: 20px;
    padding: 35px;
}

#footer-list > li{
    margin-right: 20px;
}

#copyright{
    display: flex;
    list-style: none;
    font-size: 20px;
    margin-top: -25px;
    color: rgb(80, 80, 80);
    margin-left: -5px;
}
